<%- include('header.ejs') %>

    <main>
      <section class="individual">
        <article class="producto">
          <span class="producto__precio"><%= anuncio.precio %>€</span>
          <div class="producto__info">
            <span class="categoria"><%= anuncio.tipo ? __('For sale') : __('Wanted') %></span>
            <h3 title="<%= anuncio.nombre %>"><%= anuncio.nombre %></h3>
          </div>
          <div class="producto__detalles">
            <div class="producto__foto"><img src="<%= '/images/' + anuncio.foto %>" alt="<% __('Photo of ') %><%= anuncio.nombre %>" /></div>
            <div class="producto__descripcion">
              <div class="texto"><%= anuncio.descripcion %></div>
              <ul class="tags">
                <% anuncio.tags.forEach(tag => { %>
                <li class="tag"><a href="/?tags=<%= tag %>"><%= tag %></a></li>
                <% }); %>
              </ul>
            </div>
          </div>
        </article>
      </section>
    </main>
    
<%- include('footer.ejs') %>