<%- include('header.ejs') %>

    <main>
      <% if (anuncios && anuncios.length > 0) { %>
      <section class="productos">
        <% anuncios.forEach(anuncio => { %>
        <article class="producto">
          <span class="producto__precio"><%= anuncio.precio %>€</span>
          <div class="producto__info">
            <span class="categoria"><%= anuncio.tipo ? __('For sale') : __('Wanted') %></span>
            <a href="<%= '/' + anuncio._id %>" title="<%= anuncio.nombre %>"><h3><%= anuncio.nombre %></h3></a>
          </div>
          <div class="producto__foto">
            <a href="<%= '/' + anuncio._id %>"><img src="<%= '/images/' + anuncio.foto %>" alt="<% __('Photo of ') %><%= anuncio.nombre %>" /></a>
          </div>
          <ul class="tags">
            <% anuncio.tags.forEach(tag => { %>
            <li class="tag"><a href="?tags=<%= tag %>"><%= tag %></a></li>
            <% }); %>
          </ul>
        </article>
        <% }); %>
      </section>
      <% } else { %>
      <p class="mensaje-no-hay"><%= __('Error msg - no ads found') %></p>
      <% } %>
    </main>
    
<%- include('footer.ejs') %>